	@charset "UTF-8";

  .logo{
		background-position:top left;
		width:80%;
		float:left;
	}

	.header_contact{
		padding:0 5px 0 0;
		font-size:16px;
		line-height:16px;
		color:#2b4489;
		font-family:'Open Sans',sans-serif;
		font-weight:bold;
		float:right;
		text-align:right;
		margin-top:10px;
	}
	.header_contact_img_ph{
		position:right margin-top;
		top:5px;
	}
	
	.clear{
	clear:both;
    }
	
	h1{
		font-family: 'Open Sans',sans -serif;
		font-size: 40px;
        line-height: 50px;
        color: #fa9e26;
        text-align: left;

	}
	.headingimage{
		background-image:url("background.png");
		background-repeat:no-repeat;
		background-position:top;
		background-attachment:scroll;
		background-size:100% 100%
	}
    ul {
    	width:100%;
		height:49px;
		border-bottom: 1px solid #bdb5a8;
        background-color: #fa9e26;
        background-position: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       }

     li {
       float: left;
       }

    li a {
       display: block;
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
         }

    .active {
       background-color: #FFFFFF;
    }
	.secondcontainer{
		text-align:center;
		color:red;
	}
	.secondcontainertext{
	font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    text-align: center;
	}
	#demobox {
    background-color: #fa9e26;
    padding: 10px ;
    height:1500px;
    }
    .row {
     width:100%;
   height:auto;
    }

   .column {
    width: 24%;
    float: left;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
  position:relative;
   }
   .column img{
   	width:100%;
  height:auto;
    opacity:1.0;
    filter:alpha(opacity=40);BOX-SHADOW: 0PX 1PX 1PX 0PX BLACK;
   }
    h3{
	width:59%;
	font-family:'Open Sans',sans -serif;
	text-transform:capitalize;
	color:WHITE;
	text-align:left;
	padding:0px 0px 0px 20px;
	background:rgba(0, 0, 0, 0.30);
	position:absolute;
	bottom:0px;
    }
 
  .footer {
    width: 100%;
    height: 42px;
    background-color: #fa9e26;
  }
  .bottom_footer {
    background-color: #bc0901;
    width: 100%;
    height: 40px;
    margin-top: 0px;
}